<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <script>
        const welcomeMessage = "<%= greetings %>"
    </script>
    <script type="module">
        import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
        const socket = io("ws://127.0.0.1:5000",{path:'/socket/'});
    </script>
</head>
<body>
    <p id="msg">welcome</p>
</body>
<script defer>
    const msg = document.getElementById("msg")
    msg.innerHTML = welcomeMessage
</script>
</html>