<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <script>
        const welcomeMessage = "<%= greetings %>"
    </script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <p id="msg">welcome</p>
</body>
</html>
<script defer>
    const msg = document.getElementById("msg")
    msg.innerHTML = welcomeMessage
</script>